@font-face {
	font-family: Bariol;
	src: url(../fonts/Bariol_Regular);
}

@font-face {
	font-family: Bariol;
	src: url(../fonts/Bariol_Regular_Italic);
	font-style: italic;
}

body {
	font-family: Bariol;
	color: #fff;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 960px;
	margin: auto;
	border: 1px solid green;
	margin-bottom: 40px;
}

h1,
h2,
h6 {
	text-align: center;
	margin: 0;
	padding: 0;
}




#features {
	background-color: #232324;
}

#features h2 {
	padding: 40px 0 20px;
	font-size: 40px;
}

#features h6 {
	margin-bottom: 40px;
	font-size: 20px;
	color: #e74c3c;
}

#features .feature {
	text-align: center;
}

#features .feature img {
	display: block;
	margin: auto;
}

#features .feature span {
	display: block;
	margin: 20px 0 10px;
	font-size: 30px;
}

#features .feature p {
	font-size: 18px;
	color: #e74c3c;
	margin-bottom: 25px;
}


#header {
	background-color: #f56262;
}

#header .container {
	height: 110px;
}

#header .logo {
	margin: auto 0;
	font-size: 35px;
}

#header .logo img {
	height: 37px;
	width: 46px;
	margin-bottom: -2px;
}

#header .logo__title {
	margin-top: -5px;
}

#header .logo__subtitle {
	display: block;
	font-size: 17px;
}

#header nav {
	margin: auto 0;
	width: 60%;
	margin-right: -10px;
}

#header nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#header nav ul li {
	display: block;
	list-style: none;
	height: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#header nav ul li:hover {
	background-color: #000;
	border-radius: 6px;
}

#header nav ul li a {
	display: block;
	padding: 0 10px;
	line-height: 30px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #fff;
}


#top-slider {
	height: 200px;
	color: #000;
}

