@import '../variables'; 

#features{
  background-color: #232324;
  h6{
    color: $dark-red;
  }
  .feature{
    text-align: center;
    img{
      display: block;
      margin: auto;
    }
    span{
      display: block;
      margin: 20px 0 10px;
      font-size: 30px;
    }
    p{
      font-size: 18px;
      color: $dark-red;
      margin-bottom: 25px;
    }
  }
}