@import '../variables'; 
@import '../mixins'; 

#features{
  background-color: #232324;
  padding-bottom: 20px;
  h6{
    color: $dark-red;
  }
  .feature{
    text-align: center;
    img{
      display: block;
      margin: auto;
    }
    span{
      display: block;
      margin: 20px 0 10px;
      font-size: 30px;
    }
    p{
      font-size: 18px;
      color: $dark-red;
      margin-bottom: 25px;
    }
  }
}


//  ==ANIMATION==
#features.animation{
  .feature{
    span{
      animation: descent 2s ease;
    }
    p{
      animation: descent 2s ease;
    }
  }
}

@keyframes descent {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


// ==ADAPTIVE==
@media (max-width: 600px){
  #features{
    .container{      
      flex-flow: row wrap;  
      flex-direction: column;
    }
    .feature{
      margin: 20px 0;
      p{
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}