@import '../variables.scss';

#footer{
  #copyright{
    background-color: #000;
    .container{
      justify-content: space-between;
    }
    .copyright{
      font-size: 18px;
      padding: 10px 0;
      span{
        display: inline;
        color: $dark-red;
      }
    }
    .social{
      margin: auto 0;
      &__item{
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-right: 5px;
        text-align: center;
        background-color: $dark-red;
        font-size: 18px;
        &:hover{
          background-color: darken($dark-red, 15%);
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          i{
            color: #fff;
            line-height: 30px;
          }
        }
      }
    }
  }
  #map{
    display: flex;
    justify-content: center;
    align-items: center;
    .contacts{
      position: absolute;
      margin: auto 0;
      width: 35%;
      padding: 20px;
      text-align: center; 
      background-color: rgba(0, 0, 0, .7);
      span{
        margin-bottom: 20px;
        font-size: 30px;
      }
      a{
        text-decoration: none;
        font-size: 20px;
        color: $dark-red;
        &:hover{
          color: darken($dark-red, 15%);
          text-decoration: underline;
        }
      }
    }
  }
}
