#header{
  // fixed top nav menu
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: all .4s;
  background-color: rgba(245, 98, 98, 1);
  .container{
    height: 110px;
    transition: all .4s;
  }
  .logo{
    margin: auto 0;
    font-size: 35px;
    a{
      color: #fff;
      text-decoration: none;
    }
    img{      
      height: 37px;
      width: 46px;
      margin-bottom: -2px;
    }
    &__title{
      display: inline;
    }
    &__subtitle{
      display: block;
      font-size: 18px;
      line-height: 1.15;
    }
  }
  nav{
    margin: auto 0;
    width: 50%;
    margin-right: -10px;
    ul{
      display: flex;
      li{
        display: block;
        list-style: none; 
        height: 30px;
        box-sizing: border-box;
        &:hover{
          background-color: #000;
          border-radius: 6px;
        }
        a{
          padding: 0 10px;
          line-height: 30px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
        }
      }
    }
  }
}

// minimized nav menu 
#header.header--min{  
  background-color: rgba(245, 98, 98, .8);
  .container{
    height: 50px;
    .logo__subtitle{
      display: none;
    }
    ul{
      margin: 0;
    }
  }
}

// ==ADAPTIVE==

@media (max-width: 980px){
  #header{
    .container{
      justify-content: space-around;
    }
  }
}