@import '../variables';

#header{
  // fixed top nav menu
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 2;
  transition: all .4s;
  background-color: rgba(245, 98, 98, 1);
  .container{
    height: 110px;
    transition: all .4s;
    align-items: center;
  }
  .logo{
    margin: auto 0;
    font-size: 35px;
    a{
      color: #fff;
      text-decoration: none;
    }
    img{      
      height: 37px;
      width: 46px;
      margin-bottom: -2px;
    }
    &__title{
      display: inline;
    }
    &__subtitle{
      display: block;
      font-size: 18px;
      line-height: 1.15;
    }
  }
  nav{
    margin: auto 0;
    margin-right: -10px;
    .burger{
      display: none;
    }
    ul{
      width: 50%;
      display: flex;
      
      li{
        display: block;
        list-style: none; 
        height: 30px;
        box-sizing: border-box;
        &:hover{
          background-color: #000;
          border-radius: 6px;
        }
        a{
          padding: 0 10px;
          line-height: 30px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 700;
        }
      }
    }
  }
}

// minimized nav menu 
#header.header--min{  
  background-color: rgba(245, 98, 98, .8);
  .container{
    height: 50px;
    .logo__subtitle{
      display: none;
    }
    ul{
      margin: 0;
    }
  }
}

// ==ADAPTIVE==

@media (max-width: 767px){
  #header{
    .container{
      height: 50px;
      .logo__subtitle{
        display: none;
      }
    }
    nav{
      .burger{
        display: block;
        margin-right: 50px;
        font-size: 30px;
      }
      ul{
        display: none;
        padding: 0;
        margin-top: 0px;
        &.mobile{
          animation: menuToggle .6s;
          display: block;
          position: absolute;
          right: 0;
          top: 50px;
          height: 100vh;
          background-color: #000;
          li{
            height: 14%;
            padding-left: 20px;
            &:hover{
              background-color: $dark-red;
            }
            a{
              line-height: 14vh;
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }
}

// ==ANIMATION==

@keyframes menuToggle {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%)
  }
}