@import '../variables';
@import '../mixins';

#partners{
  background-color: $light-grey;
  color: #000;
  h6{
    color: darken($light-green, 10%);
  }
  .partners-slider{
    padding-bottom: 90px;
    .carousel-cell{
      margin-right: 40px;
    }
    /* big buttons, no circle */
    .flickity-prev-next-button {
      margin-top: -40px;
    }
    @include sliderOptions($light-green, 40px);
  }
}