@import '../variables.scss';

#team{
  background-color: $light-green;
  padding-bottom: 20px;
  h6{
    color: #232324;
  }
  .team-member{
    width: 24%;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding: 20px 12px 10px;
    border-radius: 6px;
    text-align: center; 
    background-color: #fff;
    &:nth-child(1) div{
      background-color: #ebd857;
    }
    &:nth-child(2) div{
      background-color: #b9b2a9;
    }
    &:nth-child(3) div{
      background-color: #929795;
    }
    &:nth-child(4) div{
      background-color: #efece9;
    }
    &__portrait{
      border: 10px solid $light-green;
      border-radius: 100%;
      margin: 0 auto;
      width: 70%;
      img{
        display: block;
      }
    }
    span{
      display: block;
      margin: 24px 0 10px;
      color: $light-green;
      font-size: 25px;
    }
    p{
      margin: 10px 0 26px;
      color: $dark-red;
      font-size: 18px;
    }
    a{
      position: relative;
      width: 100%;
      line-height: 46px;
      border: 0;
      border-right: 6px;
      background-color: $light-green;
      font-size: 25px;
      letter-spacing: 3px;
      i{
        position: absolute;
        left: 10px;
        top: 8px;
        font-size: 30px;
      }
    }
  }
}

#team.animation{
  .team-member{
    img{
      animation: imgAppearing 3s ease;
    }
  }
}

//  ==ANIMATION==
@keyframes imgAppearing {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}