#top-slider{
  margin-top: 110px;
  background-color: #eb4f4e;
  h1{
    font-size: 60px;
    letter-spacing: 8px;
    padding: 50px 0 20px;
    animation: fade 2s ease;
  }
  h6{
    font-size: 20px;
    animation: rising 2s ease;
  }
  .top-slider{
    padding-bottom: 40px;
    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
      display: none;
    }
    /* position dots up a bit */
    .flickity-page-dots {
      bottom: 22px;
    }
    /* dots are lines */
    .flickity-page-dots .dot {
      height: 4px;
      width: 40px;
      margin: 0;
      border-radius: 0;
      background-color: #fff;
    }
  }
}

// ==ANIMATION==
// @keyframes opacity{
//   0%{
//     opacity: 0;
//     font-size: 25px
//   }
//   100%{
//     font-size: 60px;
//     opacity: 1;
//   }
// }

@keyframes fade {
  from {
      opacity: 0;
      transform: scale(.4);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
@keyframes rising {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}