#top-slider{
  background-color: #eb4f4e;
  h1{
    font-size: 60px;
    letter-spacing: 8px;
    padding: 50px 0 20px;
  }
  h6{
    font-size: 20px;
  }
  .top-slider{
    padding-bottom: 40px;
    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
      display: none;
    }
    /* position dots up a bit */
    .flickity-page-dots {
      bottom: 22px;
    }
    /* dots are lines */
    .flickity-page-dots .dot {
      height: 4px;
      width: 40px;
      margin: 0;
      border-radius: 0;
      background-color: #fff;
    }
  }
}