@font-face{
  font-family: Bariol;
  src: url(../fonts/Bariol_Regular);
}

@font-face{
  font-family: Bariol;
  src: url(../fonts/Bariol_Regular_Italic);
  font-style: italic;
}

body{
  font-family: Bariol;
  color: #fff;
}

.container{
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
}

h1, h2, h6{
  text-align: center;
  margin: 0;
  padding: 0;
}

h2{
  padding: 40px 0 20px;
  font-size: 40px;
}

h6{
  margin-bottom: 40px;
  font-size: 20px;
}

span{
  display: block;
}